.burger-menu {
	position: absolute;
	top: 0.8rem;
	right: 1rem;
	cursor: pointer;
	z-index: 10;
}

.burger-menu div {
	width: 35px;
	height: 5px;
	background-color: #000;
	margin: 6px 0;
	transition: 0.6s;
	border-radius: 20px;
}

.transform .bar-one {
	transform: rotate(-45deg) translate(-9px, 6px);
}

.transform .bar-two {
	opacity: 0;
}

.transform .bar-three {
	transform: rotate(45deg) translate(-9px, -7px);	
}

.menu {
	position: fixed;
	right: 0;
	top: 0;
	width: 50%;
	height: 100%;
	background-color: #add8e6d3;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	transform: translate(100%, 0);
	transition: 0.5s;
}

.toggle-menu {
	transform: none;
}

.menu li {
	list-style-type: none;
}

.menu li a {
	text-decoration: none;
	color: #000;
	transition: 0.5s color;
	font-variant-caps: all-petite-caps;
	font-size: 1.5rem;
}

@media only screen and (min-width: 800px) {
	.burger-menu {
		display: none;
	}

	nav {
		width: 100%;
	}
	
	.menu {
		position: initial;
		display: flex;
		flex-direction: row;
		height: 100%;
		width: 100%;
		background: none;
		transform: none;
		transition: none;
	}
	
	.menu li a {
		font-size: 1.8rem;
	}
	
	.menu li a::after {
		content: '';
		display: block;
		width: 0;
		height: 0.15rem;
		background: #000;
		transition: 0.5s;
		margin-left: -10%;
	}
	
	.menu li a:hover {
		color: #ffffff;
	}

	.menu li a:hover::after {
		background: #fff;
		width: 120%;
	}
}