.cart-button {
	text-decoration: none;
	border: none;
	background: none;
	position: fixed;
	bottom: 0;
	left: 0;
	margin-left: 1rem;
	margin-bottom: 1rem;
	background: #add8e6;
	padding: 1rem;
	border-radius: 100%;
	cursor: pointer;
	outline: 0;
}

small {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 35%;
	margin-left: 45%;
	font-size: 20px;
	color: white;
}